html{
  background-color: black;
}
#left, #right{
  color: white;
}
#left{
  position: absolute;
  width: 200px;
  top: 15%;
  left: 25%;
  height: 500px;
}
#right {
    position: absolute;
    top: 15%;
    right:25%;
    width: 200px;
    height: 500px;
}
#right_button{
  height : 100px;
  text-align : center;
  line-height: 100px;
  text-decoration: none;
  color : white;
}
#left_button {
  height: 100px;
  text-align: center;
  line-height: 100px;
  text-decoration : none;
  color: white;
}

#body{
    margin : auto;
    width: 50%;
    border : 1px solid green;
    padding : 10px;
    text-align : center;
    font-family: "Lucida Console";
    height: 500px;
    background-color: black;
    
  
}
#header-div{
  text-decoration : none;
  color : white;
  font-family: "Lucida Console";
  height: 100px
}
#language_1{
  width 20px;
  height: 20px;
  float: right;
}
#language_2{
  width: 28px;
  height: 20px;
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
#footer{
  color: white;
  font-family : "Lucida Console";
  text-align: center;
  margin-top: 150px
}
